<div class="header">Lubabalo's Shoe Shop</div>
<div class="catalogue-selection">
<label for="brand">Brand:</label>

<label for="size">Size:</label>
</div>

<div class="shoe-list">
    <h3>Pick A Shoe</h3>
    {{#each allInStore}}
    <ul>
        <li>Id:{{this.id}}</li>
        <li>Brand:{{this.brand}}</li>
        <li>Size:{{this.size}}</li>
        <li>Color:{{this.color}}</li>
        <li>Price: R{{this.price}}</li>
        <li>In Stock:{{this.in_stock}}</li>
    </ul>
    {{/each}}
</div>